<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anamoly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <!--
        <service
            android:name="configFCM.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        -->
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <!--
<meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_notification" />
        -->
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <!--
<meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="956432" />
        -->
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <meta-data
            android:name="com.onesignal.NotificationServiceExtension"
            android:value="utils.NotificationServiceExtension" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <receiver
            android:name="utils.CodeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.home.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.product_detail.ProductDetailActivity"
            android:label="@string/title_activity_product_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.choose_language.ChooseLanguageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.user_account.AddEditSituationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.user_account.MyProfileActivity" />
        <activity android:name=".view.user_account.ShareAppActivity" />
        <activity android:name=".view.user_account.ContactActivity" />
        <activity android:name=".view.user_account.SettingsActivity" />
        <activity android:name=".view.forgot_password.ForgotPasswordActivity" />
        <activity
            android:name=".view.checkout.CheckoutActivity"
            android:launchMode="singleTop">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name"
                android:priority="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data
                    android:host="success"
                    android:scheme="anamoly" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name"
                android:priority="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data
                    android:host="failed"
                    android:scheme="anamoly" />
            </intent-filter>
        </activity>
        <activity android:name=".view.order.MyOrderActivity" />
        <activity android:name=".view.order.OrderDetailActivity" />
        <activity
            android:name=".view.product_detail.ZoomImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.otp.OtpActivity" />
        <activity
            android:name=".view.thanks.ThanksActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.notification.NotificationActivity" />
        <activity
            android:name=".view.no_internet.NoInternetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.barcode_scanner.BarcodeScannerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.order_tracking.TrackOrderActivity" />
        <activity
            android:name=".view.payment.PaymentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.user_account.AppInstructionActivity" />
        <activity
            android:name=".view.register.OrderInfo2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.register.OrderInfo1Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.register.NoDeliverActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.register.WaitingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>